In [30]:

import os
import pandas as pd

DATA_PATH = '../../data/'

In [31]:

season = 2022
schedule = pd.read_csv(os.path.join(DATA_PATH, f'ESPN/schedules/by_season/{season}.csv'))

In [32]:

print(list(schedule))

['id', 'uid', 'date', 'attendance', 'timeValid', 'neutralSite', 'conferenceCompetition', 'recent', 'startDate', 'notes_type', 'notes_headline', 'type.id', 'type.abbreviation', 'venue.id', 'venue.fullName', 'venue.address.city', 'venue.address.state', 'venue.capacity', 'venue.indoor', 'status.clock', 'status.displayClock', 'status.period', 'status.type.id', 'status.type.name', 'status.type.state', 'status.type.completed', 'status.type.description', 'status.type.detail', 'status.type.shortDetail', 'format.regulation.periods', 'home.id', 'home.uid', 'home.location', 'home.name', 'home.abbreviation', 'home.displayName', 'home.shortDisplayName', 'home.color', 'home.alternateColor', 'home.isActive', 'home.venue.id', 'home.logo', 'home.conferenceId', 'home.score', 'home.winner', 'away.id', 'away.uid', 'away.location', 'away.name', 'away.abbreviation', 'away.displayName', 'away.shortDisplayName', 'away.color', 'away.isActive', 'away.logo', 'away.conferenceId', 'away.score', 'away.winner', 'game_id', 'season', 'season_type', 'away.venue.id', 'away.alternateColor', 'status.type.altDetail', 'groups.id', 'groups.name', 'groups.shortName', 'groups.isConference', 'tournamentId', 'PBP', 'team_box', 'player_box']

In [33]:


conf_ids = schedule.copy().groupby(['home.displayName'])['home.conferenceId'].apply(pd.Series.mode).reset_index().drop(columns=['level_1']).sort_values(by='home.conferenceId')
conf_ids['home.conferenceId']= conf_ids['home.conferenceId'].astype(int)

In [34]:

team_colors = schedule.copy().groupby(['home.displayName'])['home.color'].apply(pd.Series.mode).reset_index().drop(columns=['level_1']).sort_values(by='home.color')
team_alt_colors = schedule.copy().groupby(['home.displayName'])['home.alternateColor'].apply(pd.Series.mode).reset_index().drop(columns=['level_1']).sort_values(by='home.alternateColor')

In [46]:


conference_id2name = {
    1:'American East',
    2:'ACC',
    3:'A10',
    4:'Big East',
    5:'Big Sky',
    6:'Big South',
    7:'Big 10',
    8:'Big 12',
    9:'Big West',
    10:'CAA',
    11:'Conference USA',
    12:'Ivy League',
    13:'MAAC',
    14:'MAC',
    16:'MEAC',
    18:'MVC',
    19:'Northeast',
    20:'OVC',
    21:'PAC-12',
    22:'Patriot League',
    23:'SEC',
    24:'Southern',
    25:'Southland',
    26:'SWAC',
    27:'Sun Belt',
    29:'WCC',
    30:'WAC',
    44:'MWC',
    45:'Horizon',
    46:'ASUN',
    49:'Summit League',
    62:'AAC'
}

In [50]:
conf_ids['conference_name'] = conf_ids['home.conferenceId'].map(conference_id2name)

In [52]:
conf_ids = conf_ids.merge(team_colors, on=['home.displayName'], how='left')
conf_ids = conf_ids.merge(team_alt_colors, on=['home.displayName'], how='left')

In [54]:

conf_ids = conf_ids.sort_values(by=['home.displayName']).reset_index(drop=True)
conf_ids.columns=['team_name','ESPN_conference_id','conference_name','primary_color','secondary_color']

In [56]:


conf_ids.to_csv('team_meta.csv', index=False)

In [58]:

conf_ids.head(30)

,team_name,ESPN_conference_id,conference_name,primary_color,secondary_color
0,Abilene Christian Wildcats,30,WAC,4e2683,ebebeb
1,Air Force Falcons,44,MWC,004a7b,ffffff
2,Akron Zips,14,MAC,00285e,84754e
3,Alabama A&M Bulldogs,26,SWAC,790000,ffffff
4,Alabama Crimson Tide,23,SEC,690014,f1f2f3
5,Alabama State Hornets,26,SWAC,e9a900,0a0a0a
6,Albany Great Danes,1,American East,3D2777,ffffff
7,Alcorn State Braves,26,SWAC,4b0058,46166a
8,American University Eagles,22,Patriot League,c41130,c8102e
9,Appalachian State Mountaineers,27,Sun Belt,000000,ffcd00
10,Arizona State Sun Devils,21,PAC-12,942139,f1f2f3
11,Arizona Wildcats,21,PAC-12,002449,00205b
12,Arkansas Razorbacks,23,SEC,9c1831,000000
13,Arkansas State Red Wolves,27,Sun Belt,e81018,000000
14,Arkansas-Pine Bluff Golden Lions,26,SWAC,e0aa0f,eaaa00
15,Army Black Knights,22,Patriot League,ce9c00,231f20
16,Auburn Tigers,23,SEC,03244d,f1f2f3
17,Austin Peay Governors,20,OVC,8e0b0b,NaN
18,BYU Cougars,29,WCC,001E4C,ffffff
19,Ball State Cardinals,14,MAC,DA0000,ffffff
20,Baylor Bears,8,Big 12,004834,ffb81c
21,Bellarmine Knights,46,ASUN,000000,NaN
22,Belmont Bruins,20,OVC,182142,c9262d
23,Bethune-Cookman Wildcats,26,SWAC,7b1831,e9aa12
24,Binghamton Bearcats,1,American East,00614A,f0f0f0
25,Boise State Broncos,44,MWC,09347A,d8d9da
26,Boston College Eagles,2,ACC,88001a,a39161
27,Boston University Terriers,22,Patriot League,cc0000,ffffff
28,Bowling Green Falcons,14,MAC,2b1000,492000
29,Bradley Braves,18,MVC,b70002,c0c0c0

In [59]:

test = pd.read_csv('team_meta.csv')
test

,team_name,ESPN_conference_id,conference_name,primary_color,secondary_color
0,Abilene Christian Wildcats,30,WAC,4e2683,ebebeb
1,Air Force Falcons,44,MWC,004a7b,ffffff
2,Akron Zips,14,MAC,00285e,84754e
3,Alabama A&M Bulldogs,26,SWAC,790000,ffffff
4,Alabama Crimson Tide,23,SEC,690014,f1f2f3
...,...,...,...,...,...
353,Wright State Raiders,45,Horizon,cba052,cba052
354,Wyoming Cowboys,44,MWC,533B22,ffffff
355,Xavier Musketeers,4,Big East,002144,9ea2a2
356,Yale Bulldogs,12,Ivy League,004a81,286dc0
357,Youngstown State Penguins,45,Horizon,E51935,690717